*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
  padding-top: 150px;
}
.navbar{
    background-color: aliceblue;
}
.banner{
background-color: #1e1e1e;
height: 100%;
width: 100%;
}

.b-1{
    display: flex;
    background-color: rgb(255, 196, 0);
    border-radius: 30px;
    justify-content: space-around;
    margin: 0px 40px 40px 40px;
    align-items: center;
    padding: 20px 0px 20px 0px;

}
.b-1-main-txt{
    display: flex;
    flex-direction: column;
}

.b-1-txt{
    font: 500 18px / 28px "Google Sans", 
    sans-serif;
    
}

.b-1-btn button{
    background-color:rgb(245, 124, 0);
    border: none;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    color: black;
        font: 700 18px / 24px "Google Sans", sans-serif;
}

.b-2-txt-1{
        
    display: flex;
 justify-content: center;
    color: aliceblue;
}

.b-2-txt-1 h1{
    font: 700 75px / 75px "Google Sans", sans-serif;
}
.b-2-txt-2 h1{
    font: 700 45px / 65px "Google Sans", sans-serif;
}

.b-2-txt-2{
    display: flex;

justify-content: center;    color: aliceblue;
}

.b-3-txt{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 30px;
    margin-top: 30px;
}

.b-4-btn{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top:60px ;
}

.b-4-1{
    color: aliceblue;
    background-color: #1e1e1e;
    border: 3px solid yellow;
    border-radius: 20px;
    padding: 10px;
}

.b-4-2{
    color: aliceblue;
    border: none;
    background-color: #1e1e1e;
}

.b-4-2:hover{
   color: yellow;
   text-decoration: underline;
}

.main-column{
    display:flex ;
    gap: 30px;
    padding-bottom: 40px;
    
}
.column-1{
    padding-left: 80px;
}
.column-2{
    padding-right: 100px;
}
.column-sec{
    background-color: #1e1e1e;
    padding-top: 40px;
    
}
.col-1-select{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.column-txt-1{
    font:400 24px / 16px "JetBrains Mono", monospace;
}
.coloumn-txt-2{
font:700 20px / 30px "Google Sans", sans-serif;
padding-top: 10px;
padding-bottom: 10px;
}
.column-txt-3{
font:400 18px/25px "Google Sans",sans-serif;
padding-top: 10px;
padding-bottom: 10px;
}
.sel-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}
.sel-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding-bottom: 10px;
}
.sel-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding-bottom: 10px;
}

.sel-img{
    padding-bottom: 5px;
}
.sel-1-txt button, .sel-2-txt button, .sel-3-txt button   {
    background-color: #1e1e1e;
    border: none;
    color: aliceblue;
}

.sel-img-txt{
    display: flex;
    align-items: center;
    gap:10px;
}

.sel-arrow button{ 
    background-color: #1e1e1e;
    border: none; 
    color: aliceblue;
}

.sel-arrow button:hover{
    color: aqua;

}

.sel-1-txt,.sel-2-txt,.sel-3-txt{
    color: aliceblue;
}

.view-pro button{
      background-color: #1e1e1e;
    border: 2px solid orangered;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    color: aliceblue;
}
.banner-2{
    padding-bottom: 80px;
}
.banner-2-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-txt-1{
    font:700 40px / 30px "Google Sans", sans-serif;
padding-top: 40px;
padding-bottom: 60px;
}

.banner-txt-2{
font:    400 20px / 25px "Google Sans", sans-serif;
padding-top: 20px;
padding-bottom: 60px;
}

.row{
    justify-content: center;
    gap:50px;
}
.banner-3{
    background-color: #1e1e1e;
}
.banner-3-txt-1{
font:    400 24px/16px "JetBrains Mono",monospace;
padding-bottom: 50px;
}
.banner-3-txt-2{
font:    400 18px / 25px "Google Sans", sans-serif;
padding-bottom: 30px;
}

.banner-3-main{
    display: flex;
padding-bottom: 100px;
    align-items: center;
    padding-top: 50px;
}

.banner-3-lft{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.banner-3-btn button{
    background-color: #1e1e1e;
    color: aliceblue;
    border: 3px solid yellow;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
}

.banner-4{
    background-color: #1e1e1e;
}
.banner-4-txt-1{
font:    500 48px/32px "Google Sans",sans-serif;
padding-bottom: 30px;
}
.banner-4-txt-2{
font:    500 20px/26px "Google Sans",sans-serif;
padding-bottom: 30px;
}
.banner-4-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.banner-4-btn button{
    background-color: #1e1e1e;
    color: aliceblue;
    border: 3px solid orangered;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;

}

.product-sec{
    display: flex;
}
.main-txt{
    display: flex;
  gap: 300px;
     padding-bottom: 40px;
   padding-top: 50px;
}
.built-pro{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.Run-pro{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.col-foot-3{
    display: flex;
   justify-content: space-around;

}

li{
    list-style: none;
    padding-bottom:10px ;
}

.txt-1{
    font:700 34px/44px "Google Sans",sans-serif;
padding-left: 30px;
}
.built-txt{
   font: 400 30px/24px "JetBrains Mono",monospace;
padding-bottom: 20px;
}
.Run-txt{
   font: 400 30px/24px "JetBrains Mono",monospace;
padding-bottom: 20px;
}

.main-txt-col{
font-size: 20px;
font-weight: 100;
padding-bottom: 20px;
padding-top: 40px;
}

.b-1-btn button:hover ,.b-4-1:hover ,.view-pro button:hover ,.banner-3-btn button:hover,.banner-4-btn button:hover{
    background-color: yellow;
    color: black;
}
.banner-3-right img{
    width: 600px;
}

.b-1-img img{
    width:100px;
}

.b-2-txt-1 img{
    width:150px;
}
@media screen and (max-width:1024px){
.b-2-txt-1 h1{
   font: 700 65px / 75px "Google Sans", sans-serif
}

.b-2-txt-2 h1{
    font:700 35px / 65px "Google Sans", sans-serif;
}
.banner-txt-2{
    font:400 18px / 25px "Google Sans", sans-serif
}

.main-txt{
    gap:150px;
}

}

@media screen and (max-width:921px){
    .b-2-txt-1 h1{
   font: 700 55px / 75px "Google Sans", sans-serif
}
.column-2{
  padding-right:   44px;
}
}

@media screen and (max-width:842px){
.column-1{padding-left: 13px;
}
}

@media screen and (max-width:815px){
    .b-2-txt-1 h1{
   font: 700 45px / 75px "Google Sans", sans-serif
}
    .b-2-txt-2 h1{
   font: 700 33px / 75px "Google Sans", sans-serif
}
.banner-txt-2{
    font:400 25px / 25px "Google Sans", sans-serif
}

.b-3-txt{
    font-size: 22px;
}

.column-2{
    padding-right: 2px;
}
}

@media screen and (max-width:784px){
    .main-column{
        flex-direction: column;
    }
    .centre-line{
       display: none;
    }
}
@media screen and (max-width:745px){
    .b-2-txt-1 h1{
        font: 700 35px / 75px "Google Sans", sans-serif;
    }

    .b-2-txt-2 h1{
        font: 700 27px / 65px "Google Sans", sans-serif;
    }

    .banner-txt-2{
        font: 400 20px / 25px "Google Sans", sans-serif;
    }

    .banner-3-right img{
        width: 400px;
    }
}

@media screen and (max-width:635px){
      .b-2-txt-1 h1{
    font: 700 30px / 75px "Google Sans", sans-serif;
      }     
.b-2-txt-1 img{
    width: 70px;
}
.b-2-txt-2 h1{
        font: 700 20px / 65px "Google Sans", sans-serif;
    }
.b-1-img img{
    width: 80px;
}

.main-txt{
    gap: 9px;
}
    }
@media screen and (max-width:581px){
.b-3-txt{
    font-size: 20px;
}       
.banner-3-right img{
        width: 349px;
}
.b-1{
    flex-direction: column;
}
} 
@media screen and (max-width:490px){
.banner-3-right img{
    width: 290px;
}
}

@media screen and (max-width:430px){
.banner-3-right img{
    width: 240px;
    position: relative;
    left: -6px;
    top: 30px;
}

.banner-3-main{
    flex-direction: column;
}

.banner-3-txt-2{
    font: 400 15px / 25px "Google Sans", sans-serif;
}

.b-2-txt-2 h1{
font: 699 15px / 65px "Google Sans", sans-serif;
}

.main-txt{
    flex-direction: column;
}
}

@media screen and (max-width:350px){
  .b-2-txt-1 h1{
        font: 700 23px / 75px "Google Sans", sans-serif;
    }
  .b-2-txt-2 h1{
        font: 700 11px / 75px "Google Sans", sans-serif;
    }

}

@media screen and (max-width:280px){
.b-2-txt-1 h1{
        font: 700 17px / 75px "Google Sans", sans-serif;
    }
    .b-3-txt{
        font-size: 15px
    }
    .banner-txt-1{
        font: 700 26px / 30px "Google Sans", sans-serif;
    }

    .col-foot-3{
        flex-direction: column;
    }
}

@media screen and (max-width:215px){
.banner-3-right img{
    width: 200px;
}
.banner-4-txt-1{
    font: 506 20px/32px "Google Sans",sans-serif;
}

.banner-4-txt-2{
   font: 500 13px/26px "Google Sans",sans-serif
}

.txt-1{
    font: 699 20px/44px "Google Sans",sans-serif;
    padding-left: 9px;
}

.built-txt{
        font: 400 22px/24px "JetBrains Mono",monospace;
    padding-bottom: 23px;
    padding-left: 10px;
}
.Run-txt{
        font: 400 22px/24px "JetBrains Mono",monospace;
    padding-bottom: 23px;
    padding-left: 10px;
}
.b-1-txt-2{
    font-size: 14px;
}

.b-2-txt-1 h1{
        font: 700 12px / 75px "Google Sans", sans-serif;
}

.b-2-txt-2 h1{
        font: 698 8px / 75px "Google Sans", sans-serif;
}
}





